@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
* {
    outline: 1px solid blue;
}
:root {
    --Haap-1: 10, 26, 31;
    --Haap-2:#3284A0;
    --Haap-3:#747474;

}

button, input, select, textarea{
    font: inherit;
    line-height: inherit;
    color: inherit;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
    -webkit-tap-highlight-color: transparent;
}


body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    overflow-x: auto;
    color: rgb(var(--Haap-1));
}


.nav-bar { 
    display: flex;
    align-items: center;
    padding:65px 100px;
    gap: 52px;
    max-height: 170px;
}

.nav-container {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgba(var(--Haap-1), 0.5);
    line-height: 20.4px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    
}

.logo {
    display: inline;
}

.menu, .log-in{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;
}

.active {
    color: rgba(var(--Haap-1));
    font-weight: 600;
}

.log-in li:first-child {
    color: var(--Haap-2);
    font-weight: 600;
}

.btn {
    font-weight: 600;
    font-size: 17px;
    line-height: 20.4px;
    border-radius: 10px;
}


.start {
    background-color: var(--Haap-2);
    color: white;
    border: none;
    text-align: center;
}

.start-btn {
    width: 134px;
    height: 50px;  
}

input[type="checkbox"] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
main {
    max-width: 100%;
}

.first-section {
    width: min(989px, 100%);
    margin-top: 92px;
    padding-left: 100px; 
    display: inline-block;  
}

.action-container h1 {
    max-width: 660px;
    font-size: 60px;
    font-weight: 700px;
    line-height: 78px;
}

.action-container p {
    color: var(--Haap-3);
    line-height: 34px;
    font-size: 17px;
    font-weight: 400;
    margin: 37px 0 59px;
    max-width: 586px;
}

.action-container button:first-of-type {

    padding: 21px 50px;
}

.early-btn {
    border: 1px solid rgb(var(--Haap-1));
    margin-left: 18px;
    border-radius: 10px;
    padding: 21px 36px 21px 36px;
}

.search-container {
    max-width: 100%;
    height: 84px;
    margin-top: 78px;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.search-container input {
    width: 490px;
    border: none;
    font-size: 21px;
    height: 25px;
    font-weight: 400;
    line-height: 25.2px;
    overflow: visible;
}

.search-container label {
    margin: 25px 36px 25px 34px;
}

.search-btn {
    font-size: 19.79px;
    font-weight: 600;
    margin-left: 116px;
    top: 13px;
    border-radius: 12px;
    padding: 17px 43px;
    line-height: 23.75px;
    width:156px;
}


.top-division {
    margin-top: 134px;
    width:100%;
}

.top-division img {
    object-fit: cover;
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* .suggestions {
    display: grid;
    place-content: center;
} */

.suggestions-heading {
    text-align: center;
    margin: 47px 383px 0;
    max-width: 674px;
    color: rgb(var(--Haap-1));
}

.suggestions-heading h1 {
    line-height: 76.8px;
    font-size: 64px;
    font-weight: 500;
}

.suggestions-heading p {
    margin-top: 12px;
    line-height: 39px;
    font-size: 26px;
}

.apartment-container {
    margin-top: 74px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 26px;
}

article.apartment {
    max-width: 290px;
    display: flex;
    flex-direction: column;
    gap: 25.11px; 
}

.apartment-info{
    display: flex;
    flex-direction: column;
    gap: 17.65px;
} 

.apartment-title {
    line-height: 22.23px;
    font-size: 18.53;
    font-weight: 600;
}

.location {
    line-height: 18px;
    font-size: 15px;
    font-size: 500;
}

p.more-info, .apartment-info span, .price span{
    font-size: 11.47px;
    line-height: 13.76px;
    font-weight: 400;
}

.apartment-info span {
    font-weight: 500;
}

.price {
    color: var(--Haap-2);
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}


.explore-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--Haap-2);
    text-align: center;
    width: 122.28px;
    height: 31.03px;
    font-size: 8.47px;
    font-weight: 600;
    color: white;
    line-height: 10.16px;
    border: none;
}

.explore-btn img {
    height: 14.6px;
    width: 14.6px;
}

.find-home-title {
    width: 100%;
    display: flex;
}
.find-home-title p:first-of-type, .find-home-title p:nth-of-type(3){
    height: 0;
    margin-top: 146.32px;
    width: 477px;
    border-top: 0.5px solid #101010;
}

.find-home-title p:nth-of-type(3) {
    width: 480px;
}

.find-home-title p:nth-of-type(2) {
    text-align: center;
    display: grid;
    place-content: center;
    font-size: 17.53px;
    font-weight: 600;
    line-height: 21.04px;
    border: 0.67px solid rgb(var(--Haap-1));
    border-radius: 10px;
    margin: 117.32px 34.6px 0 37px;
    width: 411.4px;
    height: 58px;
    transition: 300ms ease;
}

.find-home-container {
    margin-top: 96px;
    display: flex;
    justify-content: center;
}

.find-home-heading {
    width: min(81.17%, 952px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    text-align: center;
}

.find-home-heading h1 {
    max-width: 730px;
    font-size: 64px;
    line-height: 76.8px;
    font-weight: 500;
}

.find-home-heading p {
    font-size: 26px;
    line-height: 46.8px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        padding: 41px 31px;
        justify-content: space-between;
        width: 100%;
    }

    .logo img {
        content: url("./images/logo-mobile.svg");
    }

    .menu, .log-in {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }

    .first-section {
        max-width: 86.1%;
        text-align: center;
        margin: 18px 6.95%;
        padding: 0;
    }

    .action-container h1 {
        font-size: 33.25px;
        line-height: 43.22px;
        width: 100%;
    }

    .action-container p {
        font-size: 17px;
        margin: 27px auto 75px;
        line-height: 30.6px;
        width: 86.4%;
    }

    .action-container button:first-of-type {
        line-height: 12.56px;
        font-size: 10.47px;
        max-width: 137px;
        height: 39px;
        border-radius: 6px;
        padding: 13px 32px;
    }

    .early-btn {
        border-radius: 6px;
        line-height: 12.56px;
        font-size: 10.47px; 
        max-width: 133px;
        height: 39px;
        padding: 12.9px 21px;
        margin-left: 0;
        gap: 6.16px;
    }
    .search-container {
        margin-top: 40px;
        height: 40.3px;
       /* wrap the container */
    }

    .search-container input {
        line-height: 12.2px;
        font-size: 10.16px;
        width: 41.5%; /* make the input responsive */
    }


    .search-container label {
        margin: 12.1px 17.42px;
    }

    .search-img, .search-container label{
        width: 16.46px;
        height: 16.46px;
    }

    .search-btn {
        margin-left: 25.4%;
        border-radius: 6px;
        max-width: 65px;
        height: 29px;
        line-height: 11.49px;
        font-size: 9.58px;
        padding: 9px 15px;
        /* make the search button stay at the end */
    }

    .top-division {
        margin-top: 47px;
        height: 78px;
    }

    .top-division img {
        opacity: 0.5;
    }

    .suggestions-heading {
        max-width: 323px;
       margin: 50px auto 0;

    }
    
    .suggestions-heading h1 {
        line-height: 36.73px;
        font-size: 30.61px;
    }
    
    .suggestions-heading p {
        margin-top: 6px;
        line-height: 18.65px;
        font-size: 12.43px;
    }

    .apartment-container {
        margin: 54px;
    }

    article.apartment {
        max-width: 365.74px;
        gap: 3.77px;
    }

    .apartment-img {
        display: inline-block;
        width: 100%;
        height: 365.74px;
        object-fit: cover;
        border-radius: 24px;
    }

    .apartment-info {
        gap: 22.26px;
    }

    .apartment-title {
        line-height: 28.04px;
        font-size: 23.37px;
    }

    .location {
        line-height: 22.7px;
        font-size: 18.92px;
    }
    p.more-info, .apartment-info span, .price span{
        font-size: 14.47px;
        line-height: 17.76px
    }

    .A-three, .A-four {
        display: none !important;
    }
    
    .price {
        font-size: 18.92px;
        line-height: 22.7px;
    }

    .explore-btn {
        width: 154.22px;
        height: 39.13px;
        font-size: 10.68px;
        line-height: 12.81px;
    }

    .find-home-title {
        align-content: center;
    }


    .find-home-title p:first-of-type, .find-home-title p:nth-of-type(3) {
        width: 15.22%;
        margin-top: 93.29px;
    }

    .find-home-title p:nth-of-type(2) {
           margin: 72.29px 39px 0 21px;
            width: 79.84%;
    }

    .find-home-heading h1 {
        font-size: 30.61px;
        line-height: 36.73px;
    }

    .find-home-heading p {
        font-size: 12.43px;
        line-height: 22.37px;
    }

    .find-home-container {
        margin-top: 70.26px;
    }
}


